.paper {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    height: 50vh;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 20px auto;
    max-width: 55%;
}

.contactForm {
    display: flex;
    padding: 10px;
    width: 70%;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-header {
    color: #B61F34;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}


.form-tf {
    padding: 20px;
}


.button {
    margin-bottom: 10px 0;
    padding: 10px;
}